<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.audioconverter.service</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/emilyfehr8/CascadeProjects/start_audio_converter.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/emilyfehr8/CascadeProjects/audio_converter.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/emilyfehr8/CascadeProjects/audio_converter_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/emilyfehr8/CascadeProjects</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/emilyfehr8/CascadeProjects</string>
        <key>FLASK_ENV</key>
        <string>production</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
